#main-container{
  max-width: 10em;
  min-height: 20em;
 
  margin: 0 auto;
  font-size: 5rem;
}
#display{
  max-width:10em ;
  min-height: 20em;
  background-color: aqua;
}
#send-div{
  max-width: 50rem;
  height: 50px;
  background-color: red;
  font-size: 5rem;
}
#button{
 background-color:darkorange;
 color: white;
 padding: 1em 2em;
 font-size: .2em;
 border-radius: .5em;
 border: none;
 
}