#main-container{
  max-width: 10em;
  min-height: 20em;
 
  margin: 0 auto;
  font-size: 5rem;
}
#display{
  max-width:10em ;
  min-height: 3em;
  background-color: aqua;
  
  word-wrap: break-word;
 

}
#single-message{
  min-width: 10em;
  background-color: greenyellow;
  text-align: left;
  border-radius: 50px;
  margin-top: 15px;
  font-size: .4em;
  font-weight: 300;
  
}
::selection {
  color: #ffffff;
  background-color: red;
}
#send-div{
  max-width: 50rem;
  height: 50px;
  background-color: red;
  font-size: 5rem;
}
#my-chat{
  max-width: 50em;
  height:50px;
  background-color: red;
  color: white;
  position: fixed;
  top: 1%;
  font-size: .4em;
  text-align: center;
  font-family: cursive;
  
}
#button{
 background-color:red;
 color: white;
 padding: 1em 2em;
 font-size: .2em;
 border-radius:1.4em;
 border: none;
 font-family: cursive;
 
}
#input{
  border: 2px solid red;
 height: 30px;
 border-radius: 20px;
 color: red;
 font-family: cursive;
}